* {
  box-sizing: border-box;
  font-size: 20px;
  text-align: center;
}

table {
  border: 3px solid red;
  background-color: #d3d3d5;
}

caption {
  color: red;
}

span {
  color: #712abb;
}

thead {
  background-color: #fee4c3;
}

th,
td {
  border: 2px solid blue;
}

tbody > tr > td:first-child {
  background-color: #01ffff;
}

tbody > tr:nth-of-type(odd) {
  background-color: #bcb76a;
}

tfoot > tr > td {
  background-color: #ea967a;
}

thead tr th:first-child {
  width: 50px;
}

thead tr th {
  width: 125px;
}
